# 운영체제 관련 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 빌드 결과물
/dist
/build
/out

# 의존성 디렉터리
node_modules
/.venv

# 환경 설정 파일
.env
.env.local
.env.*.local

# IDE/에디터 설정
.vscode/
.idea/
*.swp

# 테스트 커버리지
/coverage

# 캐시 파일
*.cache
