doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Chat 
    link(rel="stylesheet", href="/public/css/index.css")
    // 파비콘 추가
    link(rel="icon" type="image/png" href="/public/favicon/favicon-96x96.png")

  body
    //- h1 It works!
    header 
      h1 채팅 서버
    main 


      div#welcome 
        form(action="") 
          span 방 이름
          //- input(type="text" placeholder="choose a room name..." required autofocus)
          input(type="text" placeholder="room name..." required )
          button Enter Room
        h4 open rooms (방 목록):
        ul#roomList


      
      
      div#call(hidden)
        div#myStream
          video#myFace(autoplay , playsinline, width="400" height="300" ) 
          button#mute Mute 
          button#camera Turn Camera Off
          select#cameraSelect(name="cameraSelect") 
          video#peerFace(autoplay , playsinline, width="400" height="300" )










      //- div#room(style="display: none;")
      div#room(hidden)
        h3
        ul  
        form#name(action="") 
          //- span 방 이름
          input(type="text" placeholder="nickname ..." required)
          button Save 

        form#msg(action="") 
          //- span 방 이름
          input(type="text" placeholder="msg ..." required)
          button Send



      div#websocket(style="display: none;")
        //- h2 Welcome to Chat!
        form#nicknameForm(action="") 
          span 별명
          input(type="text" name="nickname" placeholder="choose a nickname..." required)
          button(type="submit") Save
        ul 
        form#messageForm(action="") 
          span(id="clientId")
          input(type="text" name="message" placeholder="Type a message..." required)
          button(type="submit") Send







  script(src="/socket.io/socket.io.js")
  //- script(src="/public/js/app.js" )
  script(src="/public/js/app.js" type="module")